<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${person}" th:action="@{/people/{id}(id=${person.getId()})}" th:method="PATCH" >
    <input type="text" th:field="*{login}">
    <input type="text" th:field="*{password}">
    <input type="text" th:field="*{email}">
    <input type="text" th:field="*{role}">
    <input type="text" th:field="*{status}">
    <input type="submit" value="Save">
</form>
</body>
</html>