<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3d4b06e265.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<!--TODO: add фильтрация по возрасту, поиск по полям(имя фамилия) -->
<p th:text="'avg age: ' + ${avgYears}"></p>
<form th:action="@{/people}" th:method="GET">
    <input type="date" name="min" th:value="${param.min != null ? param.min[0] : ''}">
    <input type="date" name="max" th:value="${param.max != null ? param.max[0] : ''}">
    <input type="text" name="name">
    <select name="param">
        <option value="null">Выберите параметр</option>
        <option value="firstName">Имя</option>
        <option value="lastName">Фамилия</option>
    </select>
    <input type="submit" value="Найти">
</form>



<table class="table">
    <thead>
    <tr>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Дата Рождения</th>
        <th scope="col">Роль</th>
        <th scope="col">Статус</th>
        <th scope="col">x</th>
        <th scope="col">y</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${people}"> <!--th:if="${!session.user.equals(person)}"-->
        <td id="lastname">[(${person.getLastName()})]</td>
        <td id="firstname">[(${person.getFirstName()})]</td>
        <td id="date-of-birthday">[(${person.getDateOfBirthday()})]</td>
        <td id="role">[(${person.getRole().toString()})]</td>
        <td id="status">[(${person.getStatus().toString()})]</td>
        <td>
            <a class="btn" th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <input type="submit" value="Delete">
            </form>
        </td>
    </tr>

    </tbody>
</table>


<div th:replace="~{fragments/footer :: footer}"></div>


</body>
</html>