<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
<header>
    TOur
</header>
<div th:if="${session.user.getRole().toString.equals('ADMIN')}">
    this is mess
</div>

<div th:each="flight : ${flights}">
    <form th:action="@{/ticket/{flight_id}(flight_id=${flight.getId()})}" th:method="POST">
        <input type="submit" value="BUY">
    </form>
    <input type="hidden" th:value="${flight.getId()}">
    <p >[(${flight.getDepartureTime()})]</p> <!--equals th:atext="" -->
    <p th:text="${flight.getArrivalTime()}"></p>
    <p th:text="${flight.getFlightInfo()}"></p>
    <p th:text="${flight.getPrice()}"></p>
    <p th:text="${flight.getPlane().getName()}"></p>
    <p th:text="${flight.getDepartureCity().getName()}"></p>
    <p th:text="${flight.getArrivalCity().getName()}"></p>
    <a th:href="@{/flight/{id}/edit(id=${flight.getId()})}">Edit</a>
    <form th:method="DELETE" th:action="@{/flight/{id}(id=${flight.getId()})}">
        <input type="submit" value="Delete">
    </form>
    <a href="/flight/new">Add flight</a>
</div>

</body>
</html>
