<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3d4b06e265.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form th:object="${flight}" th:action="@{/flight/{id}(id=${flight.getId()})}" th:method="PATCH" >
    <label for="departure-time">Время отправления</label>
    <input type="datetime-local"
           id="departure-time"
    th:field="*{departureTime}">
    <br>

    <label for="arrival-time">Время прибытия</label>
    <input type="datetime-local"
           id="arrival-time"
           th:field="*{arrivalTime}">
    <br>


    <br>
    <label for="flight-info">Информация о полёте</label>
    <textarea rows="5"
              cols="45"
              style="resize: none"
              id="flight-info"
              th:field="*{flightInfo}"></textarea>
    <br>
    <label for="price">цена</label>
    <input type="number"
           id="price"
           th:field="*{price}">
    <br>
    <label for="plane">Самолёт</label>
    <select id="plane" th:field="*{plane}">
        <option th:each="plane : ${planes}"
                th:value="${plane.getId()}"
                th:text="${plane.getName()}">
        </option>
    </select>
    <br>
    <label for="departure-city">Город отправки</label>
    <select id="departure-city" th:field="*{departureCity}">
        <option th:each="city : ${cities}"
                th:value="${city.getId()}"
                th:text="${city.getName()}">
        </option>
    </select>
    <br>
    <label for="arrival-city">Город прибытия</label>
    <select id="arrival-city" th:field="*{arrivalCity}">
        <option th:each="city : ${cities}"
                th:value="${city.getId()}"
                th:text="${city.getName()}">
        </option>
    </select>
    <br>
    <label>Кол-во билетов куплено</label>
    <p th:text="*{tickets.size()}"></p>
    <input type="submit" value="Save">
</form>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>