<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:object="${flight}" th:action="@{/flight/{id}(id=${flight.getId()})}" th:method="PATCH" >
    <label for="arrival-time">Время прибытия</label>
    <input type="datetime-local"
           id="arrival-time"
           th:field="*{arrivalTime}">
    <br>
    <label for="departure-time">Время отправления</label>
    <input type="datetime-local"
           id="departure-time"
           th:field="*{departureTime}">
    <br>

    <br>
    <label for="flight-info">Информация о полёте</label>
    <textarea rows="5"
              cols="45"
              style="resize: none"
              id="flight-info"
              th:field="*{flightInfo}"></textarea>
    <br>
    <label for="price">цена</label>
    <input type="number"
           id="price"
           th:field="*{price}">
    <br>
    <label for="plane">Самолёт</label>
    <select id="plane" th:field="*{plane}">
        <option th:each="plane : ${planes}"
                th:value="${plane.getId()}"
                th:text="${plane.getName()}">
        </option>
    </select>
    <br>
    <label for="departure-city">Город отправки</label>
    <select id="departure-city" th:field="*{departureCity}">
        <option th:each="city : ${cities}"
                th:value="${city.getId()}"
                th:text="${city.getName()}">
        </option>
    </select>
    <br>
    <label for="arrival-city">Город прибытия</label>
    <select id="arrival-city" th:field="*{arrivalCity}">
        <option th:each="city : ${cities}"
                th:value="${city.getId()}"
                th:text="${city.getName()}">
        </option>
    </select>
    <input type="submit" value="Save">
</form>
</body>
</html>